.featurecard {
	width: 25vw;
	height: 25vh;
	color: #e0fbfc;
	margin: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	font-family: 'Lato', sans-serif;
	border-radius: 7px;	
	transition: all 0.35s ease-in-out;
}

.featurecard:hover {
	filter: brightness(130%);
	cursor: pointer;
}

.feature-image {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-image > * {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.feminism {
	height: 100%;
	background: url(assets/feminismAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.science {
	height: 100%;
	background: url(assets/scienceAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ethics {
	height: 100%;
	background: url(assets/ethicsAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.existentialism {
	height: 100%;
	background: url(assets/existentialismAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.metaphysics {
	height: 100%;
	background: url(assets/metaphysics.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mind {
	height: 100%;
	background: url(assets/philofmindAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aesthetics {
	height: 100%;
	background: url(assets/aestheticsAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gidealism {
	height: 100%;
	background: url(assets/germanidealismAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.greek {
	height: 100%;
	background: url(assets/greekAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.islamic {
	height: 100%;
	background: url(assets/islamicAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.religion {
	height: 100%;
	background: url(assets/religionAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logic {
	height: 100%;
	background: url(assets/logicAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modern {
	height: 100%;
	background: url(assets/modernAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.law {
	height: 100%;
	background: url(assets/law.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.math {
	height: 100%;
	background: url(assets/mathAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.marxism {
	height: 100%;
	background: url(assets/marxismAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.political {
	height: 100%;
	background: url(assets/law.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.postmodernism {
	height: 100%;
	background: url(assets/postmodernismAR.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skepticism {
	height: 100%;
	background: url(assets/skepticism.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
