.featurecard {
	width: 25vw;
	height: 25vh;
	color: #e0fbfc;
	margin: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	font-family: 'Lato', sans-serif;
	border-radius: 7px;	
}

.featurecard:hover {
	cursor: pointer;
	filter: brightness(130%);
}

.feminism {
	background: url(assets/feminism.jpg);
	background-size: 25vw 25vh;
}

.science {
	background: url(assets/science.jpg);
	background-size: 25vw 25vh;
}

.existentialism {
	background: url(assets/wanderer.jpg);
	background-size: 25vw 25vh;
}

.metaphysics {
	background: url(assets/metaphysics.jpg);
}
