.featurecard {
	width: 25vw;
	height: 25vh;
	color: #e0fbfc;
	margin: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	font-family: 'Lato', sans-serif;
	border-radius: 7px;	
	background-size: 25vw 25vh;
}

.featurecard:hover {
	cursor: pointer;
	animation-name: brightenCard;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes brightenCard {
	from { filter: brightness(100%); }
	to { filter: brightness(130%); }
}

.feminism {
	background: url(assets/feminism.jpg);
	background-size: 25vw 25vh;
}

.science {
	background: url(assets/science.jpg);
	background-size: 25vw 25vh;
}

.existentialism {
	background: url(assets/wanderer.jpg);
	background-size: 25vw 25vh;
}

.metaphysics {
	background: url(assets/metaphysics.jpg);
	background-size: 25vw 25vh;
}

.mind {
	background: url(assets/philofmind.jpg);
	background-size: 25vw 25vh;
}

.aesthetics {
	background: url(assets/aesthetics.jpg);
	background-size: 25vw 25vh;
}

.gidealism {
	background: url(assets/germanidealism.jpg);
	background-size: 25vw 25vh;
}

.religion {
	background: url(assets/religion.png);
	background-size: 25vw 25vh;
}

.marxism {
	background: url(assets/marxism.jpg);
	background-size: 25vw 25vh;
}
