footer {
	width: 100vw;
	height: 15vh;
	background: #293241;
	color: #e0fbfc;
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.footcolumn {
	display: flex;
	flex-direction: column;
	width: 20vw;
	justify-content: flex-start;
	align-items: center;
	margin-top: 1%;
}

.footerheads {
	font-family: 'Bebas Neue', cursive;
	font-size: 1rem;
}

.footerlinkbox {
	width: 10vw;
	height: 10vh;
}

.footerlinks {
	font-size: 1rem;
	transition: all 0.15s ease-in-out;
}

.footerlinks:hover {
	color: #3d5a80;
	cursor: pointer;
}
