.resetsuccess {
	width: 60vw;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #293241;
	border-radius: 10px;
	color: white;
	margin: 5%;
	font-size: 2vw;
	font-family: 'Lato', sans-serif;
}

.forgotpasswrapper {
	height: 70vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('assets/phil.png');
}

.forgotemail {
	width: 60vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #293241;
	border-radius: 10px;
}

.forgotlink {
	width: 40vw;
	display: flex;
	justify-content: flex-start;
	font-family: 'Lato', sans-serif;
	color: white;
}

.forgotlink:hover {
	cursor: pointer;
}

.femail {
	width: 40vw;
}

.emailbutton {
	width: 40vw;
}

