.notfound {
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(assets/phil.png);
	font-family: 'Lato', sans-serif;
	font-size: 5vw;
	color: white;
}
