#nores {
	font-size: 3vw;
	font-family: 'Lato', sans-serif;
	color: white;
}

#resultswrapper {
	width: 100vw;
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #3d5a80;
}

.post-results {
	overflow-x: hidden;
	overflow-y: scroll;
}

.result-length {
	width: 60vw;
	height: 7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Lato', sans-serif;
}
