#searchbox {
	height: 50%;
	width: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	background: #293241;
}

#searchwrapper {
	height: 48vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/phil.png');
}

#searchinput {
	display: flex;
	flex-direction: row;
}

.querybutton {
	width: 10vw;
	border: 0;
	background-color: #4F5D75;
	color: white;
	border-radius: 6px;
	font-size: 2vw;
}

.querybutton:hover {
	cursor: pointer;
	background-color: #BFC0C0;
}
