#nores {
	font-size: 3vw;
	font-family: 'Lato', sans-serif;
	color: white;
}

#resultswrapper {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #3d5a80;
}
