.searchbox {
	height: 50%;
	width: 70vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	background: #293241;
}

.searchwrapper {
	height: 48vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/phil.png');
}

.searchinput {
	display: flex;
	flex-direction: row;
}

.searchinputbox {
	height: 5vh;
	width: 55vw;
	border: 0;
	border-radius: 12px;
	padding: 1%;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 2vw;
}

.searchinputbox:focus {
	outline: none;
}

.querybutton {
	width: 10vw;
	border: 0;
	background-color: #4F5D75;
	color: white;
	border-radius: 6px;
	font-size: 2vw;
	transition: animateSearchButton 0.5s ease-out;
}

.querybutton:hover {
	cursor: pointer;
	animation-name: animateSearchButton;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes animateSearchButton {
	from { background-color: #4F5D75; }
	to { background-color: #BFC0C0; }
}
