.subfilterwrapper {
	width: 100vw;
	height: 88vh;
	display: flex;
	background-image: url(assets/phil.png);
	align-items: center;
	justify-content: center;
}

.documentbox {
	width: 85vw;
	height: 65vh;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.documentcase {
	width: 16vw;
	height: 33vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.document {
	width: 14vw;
	height: 22vh;
	background-color: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	transition: all 0.5s ease-in-out;
}

.document:hover {
	cursor: pointer;
	width: 15vw;
	height: 32vh;
}

.nodocs {
	width: 50vw;
	height: 30vh;
	margin: auto;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 2vw;
	background: #293241;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
