#postwrapper {
	width: 90vw;
	height: 18vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lato', sans-serif;
	border-radius: 10px;
	background: #98c1d9;
	transition: all 0.2s ease-in-out;
	margin: 1.25vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

#postwrapper:hover {
	cursor: default;
	background: #e0fbfc;
}

#postwrapper:focus {
	outline: none;
}

.posttitle {
	font-size: 3vw;
	font-weight: bold;
	overflow: hidden;
}

.posttags {
	font-size: 2vw;
	padding-left: 2vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background: white;
	border-radius: 7px;
	width: 40vw;
	height: 5vh;
	overflow: hidden;
}

.text-details {
	display: flex;
	flex-direction: column;
}

.upload-details {
	display: flex;
	flex-direction: column;
}
