#postwrapper {
	width: 90vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	border-radius: 10px;
	background: #98c1d9;
	transition: all 0.2s ease-in-out;
}

#postwrapper:hover {
	cursor: default;
	background: #e0fbfc;
}

#postwrapper:focus {
	outline: none;
}

#posttitle {
	font-size: 3vw;
}

#posttags {
	font-size: 2vw;
}
