#submit {
	width: 20vw;
	background: #3d5a80;
	color: #e0fbfc;
	border: 0;
	border-radius: 10px;
	font-size: 2vw;
}

#submit:hover {
	background: #98c1d9;
}

#uploadpagewrapper {
	width: 100vw;
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: url('assets/phil.png');
	@media only screen and (min-width: 670px) {
		flex-direction: row;
	}
}

#tags {
	width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	@media only screen and (min-width: 670px) {
		width: 50vw;
		height: 88vh;	
	}
}

#dropzone {
	width: 70vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
	margin: 5%;
	padding: 5%;
}

#dropperwrapper {
	background: #E0FBFC;
	width: 100vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	@media only screen and (min-width: 670px) {
		width: 50vw;
		height: 88vh;
	}
}

#dropper {
	transition: all 0.2s ease-in-out;
	width: 40vw;
	height: 64vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #e0fbfc;
	background: url(assets/upload.png);
	background-position: center;
	background-size: 240px 300px;
	background-repeat: no-repeat;
	font-size: 3vw;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
	color: #293241;
}

#dropper:focus {
	outline: none;
}

#dropper:hover {
	cursor: pointer;
	background: none;
	background-color: #505D75;
}

.uploaderror {
	width: 40vw;
	height: 5vh;
	color: #b81e11;
	background: #f7786d;
	box-sizing: border-box;
	border: solid #b81e11 1px;
	border-radius: 7px;
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#texttitle {
	height: 5vh;
	width: 45vw;
	border: 0;
	border-radius: 12px;
	padding: 1%;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 2vw;
}

#metatags {
	height: 5vh;
	width: 45vw;
	border: 0;
	border-radius: 12px;
	padding: 1%;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 2vw;
}

#author {
	height: 5vh;
	width: 45vw;
	border: 0;
	border-radius: 12px;
	padding: 1%;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 2vw;
}

#catselector {
	width: 45vw;
}
